.note {
  margin-left: 25px;
  /* border: 2px solid red; */
  width: 235px;
  height: 130px;
  border-radius: 8px;
  margin-top: 40px;
  display: inline-grid;
  box-shadow: 5px 10px 18px #888888;
}

Button {
  border-radius: 50px;
  background-color: #ffd700;
  height: 35px;
  width: 35px;
  border: none;
  color: darkorange;
  margin-left: 185px;
  margin-bottom: 8px;
  cursor: pointer;
}
Button:hover {
  background-color: white;
}

.note > h1 {
  margin: 2px 20px;
  color: black;
  letter-spacing: 1.2px;
  font-family: sans-serif;
  font-weight: 100;
}

.note > p {
  margin: -25px 0px 0px 20px;
  font-size: 20px;
  font-family: cursive;
  color: black;
}
